```k
requires "mir-semantics/kmir.md"


module VERIFICATION
  imports KMIR
endmodule


module VERIFICATION-SYNTAX
endmodule
```
