```k
requires "mir-semantics/kmir.md"
requires "./p-token.md"
requires "./spl-token.md"


module VERIFICATION
  imports KMIR
  imports P-TOKEN
  imports SPL-TOKEN
endmodule


module VERIFICATION-SYNTAX
endmodule
```
